.container{
    width: 320px;
    height: auto;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: rgb(74, 145, 237);
    border-radius: 2px;
}
table{
    border-collapse: collapse;
    width: 272px;
}
    
p.underline{
    width: 272px;
}

.underline {
    border-bottom: 1px solid;
}

a{
    text-decoration: none;
    color: white;
}

.usernum{
    text-align: right;
}

.top{
    width: 272px;
}

.mid-chart{
    width: 272px;
}

.belly{
    width: 272px;
}
.bottom{
    text-align: right;
    font-size: small;
    width: 272px;
}
