*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#mockup2{
    width: 496px;
    height: 265px;
    position: absolute;
    background-image: url(interface-3.png);
    top: 0;
    left: 0;
    
    opacity: 0.5;
    z-index: 10;
    pointer-events: none;
}

.container{
  margin: 3px;
  border: 1px solid;
  width: 488px;
  height: 258px;
  display: flex
}

.image-left{
  width: 200px;
  height: 258px;
}

.content-right{
  height: 258px;
  width: 289px;
  font-family: 'Hind', sans-serif;
  line-height: 1.2;
  letter-spacing: -1px;
  
}

.info{
  padding: 21px 19px 58px 19px;
  
}

h1{
  font-size: 20px;
}

.info p{
  font-size: 16px;
  padding-top: 4px;
}

.ownerinfo{
  display: flex;
}

.info-bottom{
  padding-top: 7px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 14px;
  width: auto;
}

.owner-img{
  
}

.ownername{

}

.extra-info{
  
}

.symbol{
  padding-left: 37px;
  padding-top: 3px;
}

