*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
}

.grid{
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.card{
    padding: 10px;  
    text-align: center;
    width: 300px;
   
}

img.grunt{
    width: 130px; 
    margin-bottom: 10px;   
}

img.gulp{
    width: 70px;
}

img.git{
    width: 150px;
    margin-bottom: 15px;
}

img.npm{
    width: 170px;
    margin-bottom: 40px;
}

.card-body{
    text-align: left;
    padding: 20px;
    font-family: 'Fira Sans', sans-serif;
}
a{
    text-decoration: none;
}

span{
    font-weight: 700;
    font-size: medium;
    font-family: 'Fira Mono', monospace;
}
span.np{
    font-size: small;
}

h2{
    margin-bottom: 10px;
    color: rgb(120, 185, 142);
    font-weight: 200;
}

p{
    margin-top: 5px;
    color: rgb(112, 112, 112);
    font-size: 15px;
}

@media screen and (max-width: 768px) {
    .grid{
        flex-direction: column;
        align-items: center;
    }
}