*{
    
    box-sizing: border-box;
}
body{
    padding: 15px;
    margin: 10px;
}

.container{
    display: table;
    width: 100%;
}

.grid{
    padding: px;
    height: 200px;
    display: table-cell;
    
}

.card{
    padding: 10px;
    
}

img{
    width: 50%;
    height: auto;
    padding-bottom: 30px;
    
}
img.gulp{
    width: 25%;
}
.card-body{

}
a{
    text-decoration: none;
}
span{
    font-weight: bold;
}