.container{
    width: 320px;
    height: 502px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.726);
    background-color: rgb(74, 145, 237);
    border-radius: 2px;
    box-shadow: 3px 3px 3px 2px rgba(128, 128, 128, 0.377);
    font-family: 'Roboto Condensed', sans-serif;

}
div.container:hover{
    box-shadow: 3px 3px 3px 2px rgba(128, 128, 128, 0.664);
}
table{
    border-collapse: collapse;
    width: 272px;
}

th, tr{
    text-align: left;
    font-size: 13px;
    font-weight: normal;
}
p.underline{
    width: 272px;
}

.underline {
    border-bottom: 1px solid;
}

a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.726);
}

.usernum{
    text-align: right;
}

.top{
    width: 272px;
    height: 70px;
}

.users-now{
    font-size: 50px;
    margin-top: 0;
}

.mid-chart{
    width: 272px;
    font-size: 13px;
}

.belly{
    width: 272px;
}
.bottom{
    text-align: right;
    width: 272px;
}

span{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
    font-size: 12px;
    
}

h3{
    font-size: 14px;
}
