*{
    
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: baseline;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
}

.grid{
    height: auto;
   
}

.card{
    padding: 10px;  
    text-align: center;
}



img.grunt{
    width: 130px;    
}

img.gulp{
    width: 70px;
}

img.git{
    width: 150px;
}

img.npm{
    width: 170px;
    margin-bottom: 30px;
}
.card-body{
    text-align: left;
    padding: 20px;
}
a{
    text-decoration: none;
}
span{
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}
span.np{
    font-size: small;
}
h2{
    margin-bottom: 10px;
    color: rgb(120, 185, 142);
    font-weight: 200;
}

p{
    margin-top: 5px;
    color: rgb(112, 112, 112);
}